
.body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

#hero-section{
    background: url(Assets/Hero-bg.png);
    /* width: 1440px; */
    height: 698px;
    margin-bottom: 116px;
}

/* navbar styles */

.navbar{
    width: 1140px;
    height: 151px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h2{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}

.nav-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.nav-btn a{
    text-decoration: none;
    color: #FFFFFF;
}


/* banner styles */

.banner{
    width: 905px;
    height: 237px;
    margin: 150px auto;
    align-items: center;
    text-align: center;
}

.banner-text{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
}

.banner-btn{
      background-color: #4E47FF;
    color: #FFFFFF;
    width: 174px;
    height: 48px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 37px;
}

.banner-btn a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

/* action styles */

#action-section{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 328px;
    margin: 0px auto;
    margin-bottom: 116px;
}

.action-text{
    width: 517px;
    height: 203px;
    margin-top: 62.5px;
    margin-bottom: 62.5px;
}

.action-title{
    color: #252432;
    width: 517px;
    height: 49px;
    font-weight: bold;
    font-size: 42px;
}

.action-sub-title{
    width: 517px;
    height: 60px;
    margin-top: 23px;
    font-size: 24px;
    color: #252432;
}

.action-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    width: 229px;
    height: 48px;
    margin-top: 23px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.action-image{
    width: 403px;
    height: 328px;
}

.action-image img{
    border-radius: 48px;
}